# **Часть 1. Создание базы данных**
## *1000 уникальных покупателей, 1000 уникальных покупок, 1000 разных дат, 100 уникальных товаров*

In [345]:
# 1. Импорт библиотек
import sqlite3
import random
from random import randrange
from datetime import timedelta
from datetime import datetime
import numpy as np

In [335]:
# 2. Cоздание соединения и объекта "курсор"
connection = sqlite3.connect("wib_test.db")
cursor = connection.cursor()

In [336]:
# 3. Добавление пустых таблиц: Users, Purchases, Items согласно ТЗ
cursor.execute ("CREATE TABLE Users (userId INTEGER PRIMARY KEY, age INTEGER)")
cursor.execute ("CREATE TABLE Purchases (userId INTEGER PRIMARY KEY, purchaseId INTEGER UNIQUE, itemId INTEGER, date TEXT NOT NULL)")
cursor.execute ("CREATE TABLE Items (itemId INTEGER PRIMARY KEY, price FLOAT NOT NULL)")

In [337]:
# 4. Создание списка 1000 уникальных id
def gen_random_numbers_in_range(low, high, n):
    return random.sample(range(low, high), n)
rand_list_id = gen_random_numbers_in_range(1000, 2000, 1000)

In [338]:
# 5. Создание списка 1000 людей возрастом от 18 до 65
rand_list_age=[]
n=1000
for i in range(n):
    rand_list_age.append(random.randint(18,65))

In [339]:
# 6. Создание запроса на вставку значений в таблицу Users путем итерации по спискам выше:
query = "INSERT INTO Users (userId, age) VALUES (?,?);"
for userId, age in zip(rand_list_id, rand_list_age):
    cursor.execute(query,(userId, age))
connection.commit()

In [351]:
# 7. Просмотр шапки полученной таблицы
cursor.execute ("SELECT * FROM Users LIMIT 10;").fetchall()

[(1000, 40),
 (1001, 28),
 (1002, 63),
 (1003, 25),
 (1004, 21),
 (1005, 58),
 (1006, 52),
 (1007, 24),
 (1008, 23),
 (1009, 62)]

In [341]:
# 8. Создание списка 1000 уникальных id покупок
purchase_id_list = random.sample(range(1, 1001), 1000)

In [342]:
# 9. Создание списка 1000 единиц товаров из 100 уникальных товаров
itemId_list=[]
n=1000
for i in range(n):
    itemId_list.append(random.randint(1,100))

In [346]:
# 10. Создание списка 1000 уникальных дат

def random_date(start, end):
    delta = end - start
    int_delta = (delta.days * 24 * 60 * 60) + delta.seconds
    random_second = randrange(int_delta)
    return start + timedelta(seconds=random_second)

d1 = datetime.strptime('1/1/2020 1:30 PM', '%m/%d/%Y %I:%M %p')
d2 = datetime.strptime('11/18/2022 4:50 AM', '%m/%d/%Y %I:%M %p')

date_list = []
n = 1000
for i in range (n):
    date_list.append(random_date(d1, d2))

In [347]:
# 11. Cоздание запроса на вставку значений в таблицу Purchases путем итерации по 4-м спискам выше:
query = "INSERT INTO Purchases (userId, purchaseId, itemId, date) VALUES (?,?,?,?);"
for userId, purchaseId, itemId, date in zip(rand_list_id, purchase_id_list, itemId_list, date_list):
    cursor.execute(query,(userId, purchaseId, itemId, date))
connection.commit()

In [352]:
# 12. Просмотр шапки полученной таблицы
cursor.execute ("SELECT * FROM Purchases LIMIT 10;").fetchall()

[(1000, 779, 21, '2021-05-07 19:17:12'),
 (1001, 871, 78, '2022-08-30 01:08:04'),
 (1002, 969, 36, '2021-05-26 11:52:25'),
 (1003, 341, 24, '2020-12-16 18:18:09'),
 (1004, 642, 90, '2020-06-23 23:45:51'),
 (1005, 210, 20, '2021-09-02 16:20:24'),
 (1006, 701, 20, '2020-02-17 07:12:43'),
 (1007, 438, 2, '2021-07-30 00:19:42'),
 (1008, 92, 40, '2022-08-15 19:48:05'),
 (1009, 878, 91, '2021-09-04 02:12:18')]

In [353]:
# 13. Создание 100 уникальных товаров
itemId_list_uniq=list(range(1,101))

In [354]:
# 14. Создание списка цен для 100 товаров
price_list=[]
n=100
for i in range(n):
    price_list.append(round(random.uniform(10.0,100.0),2))

In [355]:
# 15. Cоздание запроса на вставку значений в таблицу Items путем итерации по 2-м спискам выше:
query = "INSERT INTO Items (itemId, price) VALUES (?,?);"
for itemId, price in zip(itemId_list_uniq, price_list):
    cursor.execute(query,(itemId, price))
connection.commit()

In [356]:
# 16. Просмотр шапки полученной таблицы
cursor.execute ("SELECT * FROM Items LIMIT 10;").fetchall()

[(1, 69.46),
 (2, 67.13),
 (3, 36.53),
 (4, 55.52),
 (5, 22.3),
 (6, 72.65),
 (7, 15.25),
 (8, 55.35),
 (9, 59.93),
 (10, 35.96)]

# **Часть 2. Выполнение анализа базы данных согласно заданию**

In [357]:
# А) какую сумму в среднем в месяц тратит:
# - пользователи в возрастном диапазоне от 18 до 25 лет включительно
cursor.execute ('''WITH first_query AS (
                SELECT *
                FROM Purchases
                LEFT JOIN Users
                    ON Purchases.userId = Users.userId
                ), 
                second_query AS (
                SELECT *
                FROM first_query
                LEFT JOIN Items
                    ON first_query.itemId = Items.itemId
                )
                SELECT strftime ('%Y''%m', date) AS 'Month and year', ROUND (AVG (price),2) AS 'Average Price'
                FROM second_query
                WHERE age >= 18 AND age <= 25
                GROUP BY 1
                ORDER BY 2 DESC;''').fetchall()

[("2021'12", 81.8),
 ("2020'07", 79.5),
 ("2021'11", 72.48),
 ("2020'04", 72.22),
 ("2021'06", 67.4),
 ("2020'10", 67.25),
 ("2020'06", 67.09),
 ("2022'05", 66.53),
 ("2022'06", 66.52),
 ("2021'08", 66.14),
 ("2021'05", 63.95),
 ("2022'02", 62.09),
 ("2022'04", 61.47),
 ("2022'10", 61.2),
 ("2022'07", 60.73),
 ("2022'03", 59.26),
 ("2021'09", 58.92),
 ("2020'12", 58.44),
 ("2021'02", 57.39),
 ("2020'03", 56.05),
 ("2020'01", 55.89),
 ("2021'07", 55.86),
 ("2020'02", 54.82),
 ("2022'11", 54.81),
 ("2020'09", 53.33),
 ("2022'08", 52.36),
 ("2021'04", 50.53),
 ("2021'03", 46.59),
 ("2022'09", 46.47),
 ("2022'01", 46.03),
 ("2021'10", 45.71),
 ("2020'11", 36.19),
 ("2021'01", 33.8),
 ("2020'05", 33.33),
 ("2020'08", 25.01)]

In [358]:
# - пользователи в возрастном диапазоне от 26 до 35 лет включительно
cursor.execute ('''WITH first_query AS (
                SELECT *
                FROM Purchases
                LEFT JOIN Users
                    ON Purchases.userId = Users.userId
                ), 
                second_query AS (
                SELECT *
                FROM first_query
                LEFT JOIN Items
                    ON first_query.itemId = Items.itemId
                )
                SELECT strftime ('%Y''%m', date) AS 'Month and year', ROUND (AVG (price),2) AS 'Average Price'
                FROM second_query
                WHERE age >= 26 AND age <= 35
                GROUP BY 1
                ORDER BY 2 DESC;''').fetchall()

[("2021'04", 77.5),
 ("2022'10", 75.37),
 ("2021'12", 75.23),
 ("2022'07", 71.35),
 ("2021'02", 70.13),
 ("2020'11", 67.62),
 ("2020'02", 67.55),
 ("2022'01", 66.2),
 ("2022'08", 64.96),
 ("2020'08", 64.81),
 ("2021'08", 63.67),
 ("2021'11", 60.85),
 ("2020'01", 59.5),
 ("2021'09", 59.18),
 ("2021'10", 59.15),
 ("2021'01", 58.99),
 ("2022'04", 57.03),
 ("2022'05", 56.69),
 ("2020'09", 56.55),
 ("2020'04", 56.35),
 ("2021'03", 56.09),
 ("2020'10", 55.23),
 ("2021'06", 54.77),
 ("2022'03", 52.66),
 ("2020'05", 51.38),
 ("2022'06", 50.6),
 ("2021'05", 48.28),
 ("2022'02", 46.08),
 ("2020'03", 43.89),
 ("2020'07", 42.43),
 ("2021'07", 41.9),
 ("2022'11", 41.86),
 ("2022'09", 39.82),
 ("2020'06", 38.78)]

In [359]:
# Б) в каком месяце года выручка от пользователей в возрастном диапазоне 35+ самая большая
cursor.execute ('''WITH first_query AS (
                SELECT *
                FROM Purchases
                LEFT JOIN Users
                    ON Purchases.userId = Users.userId
                ), 
                second_query AS (
                SELECT *
                FROM first_query
                LEFT JOIN Items
                    ON first_query.itemId = Items.itemId
                )
                SELECT strftime ('%Y''%m', date) AS 'Month and year', ROUND (SUM(price), 2) AS 'Total Revenue'
                FROM second_query
                WHERE age >= 35
                GROUP BY 1
                ORDER BY 2 DESC;''').fetchone()

("2021'02", 1726.61)

In [360]:
# В) какой товар обеспечивает наибольший вклад в выручку за последний год
cursor.execute ('''WITH first_query AS (
                SELECT *
                FROM Purchases
                LEFT JOIN Users
                    ON Purchases.userId = Users.userId
                ), 
                second_query AS (
                SELECT *
                FROM first_query
                LEFT JOIN Items
                    ON first_query.itemId = Items.itemId
                )
                SELECT itemId, ROUND(SUM (price), 2) AS total_revenue_by_item, strftime ('%Y', date) AS year
                FROM second_query
                WHERE year = '2022'
                GROUP BY itemId
                ORDER BY 2 DESC;''').fetchone()

(15, 638.48, '2022')

In [362]:
# Г) топ-3 товаров по выручке и их доля в общей выручке за любой год
cursor.execute ('''WITH first_query AS (
                SELECT *
                FROM Purchases
                LEFT JOIN Users
                    ON Purchases.userId = Users.userId
                ), 
                second_query AS (
                SELECT *
                FROM first_query
                LEFT JOIN Items
                    ON first_query.itemId = Items.itemId
                ),
                third_query AS (
                SELECT itemId, ROUND(SUM (price), 2) AS total_revenue_by_item, strftime ('%Y', date) AS year
                FROM second_query
                WHERE year = '2021'
                GROUP BY itemId
                ORDER BY 2 DESC
                )
                SELECT itemId, total_revenue_by_item, ROUND(total_revenue_by_item * 100 / (SELECT SUM(total_revenue_by_item) AS sum FROM third_query), 2) AS share, year
                FROM third_query;''').fetchmany(3)

[(56, 579.12, 2.77, '2021'),
 (48, 569.34, 2.72, '2021'),
 (65, 566.64, 2.71, '2021')]

In [363]:
# сохраняем изменения в БД и закрываем соединение
cursor.close()
connection.commit()
connection.close()